<!DOCTYPE html>
<html lang="en">
<head>


  <title>Youtube Video Downloader</title>


  <link rel="icon" type="image/png" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="manifest" href="/static/site.webmanifest">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href='/static/style.css' />
    <link rel="style" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496452086719815"
crossorigin="anonymous"></script>
</head>

<body>


    <img class="im" src="/static/Repeat Grid 1.svg" alt="YU Downloader"/>


  <div class="bg">
  <div class="p1">
    <p1>Download high quality youtube videos For free</p1>
  </div>

  <div class="yu">
    <h10>Youtube Video Downloader</h10>

  </div>
  <div>
  <dialog class="digg" id="digg"  >Hurray! video started to Download</dialog>
  </div>

  <div class="form-group">
  <form method="post">
    <input type="url" id="myInput" class="input"  name="video_url" placeholder="Enter Youtube Url">

  </button>


   <button type="submit"  onclick="showdialog()" class="btn" >Download</button>

</form>
</div>
</div>
<p5 class="p5">You can also download youtube audio in mp3 format and Instagram reel videos in mp4 format.</p5>





<div class="container">
  <div class="content">
    <h7>Click this </h7><br>
  </div>



  <div class="a">
    <a class="tez" href="/audio" >Youtube Audio Downloader  </a><br>
  </div>
  <div class="b">
    <a class="ins" href="/insta" >Instagram Reel Downloader  </a>
  </div>

</div>
<div id="mySidenav" class="sidenav">
    <a href="/" id="about">Youtube Video</a>
    <a href="/audio" id="blog">Youtube Audio</a>
    <a href="/insta" id="projects">Instagram Reel</a>

</div>



  <script >
 var dialog = document.getElementById("digg");

function showdialog() {
  // Show the dialog
  dialog.showModal();
}

    Cookies.set('Yu Downloader Website', 'true')

 </script>

<div class="ads">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496452086719815"
     crossorigin="anonymous"></script>
<!-- ytmp4 display -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8496452086719815"
     data-ad-slot="6810384533"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>


<div class="txt">
<p> Youtube video downloader
  allowing you to download high quality Youtube videos:
    4k. Save and download any Youtube video in
     .mp4 format quickly with the highest quality.
</p>
<p>
  Support downloading any Youtube video on any device:
   PC, tablet, phone (iPhone, Android). Download Youtube
    videos online on a web browser, no need to install
    software.</p>

    <h2>How to download  youtube videos in 4 steps</h2>
    <p>Step 1: Open the Youtube app on your phone or visit the Youtube.com website.</p>

    <p> Step 2: Find and open the video you want to download and click the Share button then continue pressing the Copy link button.</p>

    <p> Step 3: Go to Yu Downloader website, paste the copied Youtube link in the search box and press the Download button.</p>

    <img class="image" src="/static/Youtube Video Downloader.png" >

     <p> Step 4: then click the Download button.</p>

    <p> Step 5:your video will be downloaded to gallery</p>
    </div>


</body>

<footer class="foot" >

            <h1 class="tt">@2023 Youtube ,Instagram video and audio download made by YU Downloader</h1>

</footer>
</html>


